{% extends "base.html" %}

{% block content %}



<br>
<br>

{% with messages = get_flashed_messages() %}
    {% if messages %}
         <div class="notification is-danger">
        	{{ messages[0] }}
         </div>
    {% endif %}
    {% endwith %}
{%if providers != null%}
 <div style="display: flex; flex-direction: horizontal; margin-left:20%;">
    <div >
        <div class="box"> 
            <h1>Provider description</h1>
            <hr>
            <p style="text-align:center">Name : {{providers[0].provider_name}}</p>
            <br>
            <p>Rating : {{providers[0].rating_avg}}</p>
            <br>
            <p>Phone number :{{providers[0].phone_number}}</p>
            <br>
            <p>Address : {{providers[0].address}}</p>
            <br>
            <p>Email : {{providers[0].email}}</p>
            <br>
        </div>
    </div>
    <form method="POST" action="{{ url_for('main.order',cost=0.08*services[0].cost + services[0].cost, description=services[0].description, provider_id = provider_id, service_id=service_id) }}">
            <div style="display: flex; flex-direction: horizontal;">

                <div class="box" style="margin-left:10%"> 
                    <p>Choose date and time</p>
                   
                    <hr>
                    <div class="field">
                        <div class="control">
                            
                            <input type="date" name="date">
                        </div>
                    </div>
    
                    <div class="field">
                        <div class="control">
                            <input type="time" name="time">
                        </div>
                    </div>


                </div>
    
                {% if services != null %}
                <div  class="box" style="margin-left: 10%;" >
                    <h1> <strong>Place Order</strong> </h1>
                    <hr>
                    <h1>Price summary</h1>
                    <br>
                    <p>Subtotal : ${{services[0].cost}}</p>
                    <br>
                    <p>Tax : ${{0.08 * services[0].cost}}</p>
                    <br>
                    <p>Total : ${{0.08*services[0].cost + services[0].cost}} </p>
                    <br>

                    <button class="button is-success">Continue to checkout</button>
                    <br>      
                </div>
                {%endif%}
    

            </div>
           
    </form>

</div>
{%endif%}


    

{% endblock %}