{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <div class="is-size-3">
        <b>Confirmation Page</b>
    </div>
    <br>
  <div class="box" style="display: flex; justify-content: center; align-items: center;">
    Order has been successfully placed. You got {{points}} points for this order
     If you want to modify your service date or cancel the order.
     Please visit the current order page through the link below.
     
  </div>
  <a href="{{ url_for('orderController.current_orders' )}}">
  <button class="button is-large is-success">Current Orders</button>
  </a>
{% endblock %}