{% extends "base.html" %}

{% block content %}
<h1>
 Order Confirmation Page
</h1><hr>




  <div class="box" style="display: flex; justify-content: center; align-items: center;">
     Yay! Order is placed. You got 100 points for the order
     If you want to modify your service date or cancel the order.
     Please visit order history page.
     
  </div>
  <a href="{{ url_for('orderController.current_orders' )}}">
  <button class="button">Current Orders</button>
  </a>
{% endblock %}