{% extends "base.html" %}

{% block content %}
<h1>
<br>
 <b>Past Orders: </b>
  <br>
   {%for service in services%}
    {%for order in orders%}
     {%for provider in providers%}
   
      {%if order.provider_id==service.provider_id and order.service_id==service.service_id and service.provider_id == provider.provider_id%}
      <hr>	
    <div class="box" style="height:200px; margin:auto; width:50%">
      <div style="display:flex; flex-direction: horizontal; justify-content: space-around;">
        <div>order #: {{order.order_id}}</div>
        <div>order placed for : {{order.date}}</div>
        <div>total : ${{order.cost}}</div>
      </div>
      
      <hr>
        <div style="display: flex; flex-direction: horizontal; justify-content: center; ">
          <div>
            Provider:
            {{provider.provider_name}}
	    <br>
            Service:
            {{service.service_name}}
            <br>
            {{service.description}}
          </div>
        </div>
    </div>
        {%endif%}
       {%endfor%}
      {%endfor%}
    {%endfor%}
   
</h1>
{% endblock %}