{% extends "provider_base.html" %}

{% block content %}


<h1>
 <br>
 <b>Past Orders:</b>
</h1>
  <br>
  
    
   
    {% for order in orders %}
     {% for service in services %}
      {% if service.provider_id == order.provider_id and order.service_id == service.service_id %}
     
      {%if order.status == "Canceled" or order.status == "Completed"%}
      <hr>
    <div class="box" style="height:300px; margin:auto; width:50%">
      <div style="display:flex; flex-direction: horizontal; justify-content: space-around;">
        <div><b>Order#</b> {{order.order_id}}</div>
        <div><b>Service requested for:</b> {{order.date}}</div>
        <div><b>Total:</b> ${{order.cost}}</div>
      </div>
      
      <hr>
            <div>
               
            <br>
                Service:
                {{service.service_name}}
                <br>
                Description:
                {{service.description}}
                <br>
                Order Status:
                {{order.status}}
                {%if order.status == "Completed"%}
            <img src="{{url_for('static', filename='completed.png')}}" alt="placeholder">
            {%endif%}
            {%if order.status == "Canceled"%}
            <img src="{{url_for('static', filename='canceled.png')}}" alt="placeholder">
            {%endif%}
              </div>
              <br>
  
              

        </div>
 
   

    {%endif%}
    {%endif%}
    {%endfor%}
   {%endfor%}
   <br>
{% endblock %}