{% extends "base.html" %}

{% block content %}
<br>
<br>
   <div class="is-size-3">
       <b>Profile Page</b>
   </div>
  <br>
 <br>

  <div class="card-container">
    <div>
    <!-- <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" /> -->
    <img class="round" src="{{url_for('static', filename='profile_pic.png')}}" alt="user">
    </div>
    <br>
    <h2><b>Name: </b> {{ user.name }}</h2>
    <br>
    <h2><b>Email:</b> {{ user.email }}</h2>
    <br>
    <h2><b>Age:</b> {{ user.age }}</h2>
    <br>
    <h2><b>Total Points (each point is equivalent to a dollar):</b></h2>
    <div class="points">{{points}}</div>
    <div class="circle center" >
      <div class="dummy-element square"></div>
      <div class="content" data-label={{points}}></div>
    </div>
  <br>
    
    
    <div class="buttons">
      <a href="{{ url_for('orderController.current_orders' )}}">
        <button class="button is-link is-large">Current Order</button>
      </a>
     
      <a href="{{ url_for('orderController.past_orders' )}}">
        <button class="button is-link is-large" style="margin-left: 15px;">Past Order</button>
      </a>
    </div>
   

    <br>
  </div>
  
{% endblock %}