{% extends "base.html" %}

{% block content %}
<br>
<br>
<div class="is-size-3">
<b> {{service}} Service Providers</b>
</div>

<div class="column is-8 is-offset-2">
    <h1 class ="title">
    </h1>
	<div class="box">
	    <form method="POST", action="{{url_for('searchController.searching_post', service = service)}}">
            <div class="field">
                <div class="columns is-centered">
		<div class="column is-three-quarters">
                    <input class="input is-medium" type="text" id="fname" name="name" size="20" placeholder="Name">
                    <br>
		    <br>
		    <input class="input is-medium" type="text" id="fname" name="address" size="20" placeholder="Address">
                </div>    
		<div class="column">
		<select class ="select is-medium is-info" name = "stars" id="stars">
                        <option value="" disabled selected>Rating</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <br>
                    <br>
                    <button class="button is-large is-primary">Search</button>
                <div>   
                </div>
            </div>
        </form>  
	</div>
</div>
</div>
<br>
<br>

  <!-- {{result}} -->
  <div class="container ">
    <div class="columns  is-multiline is-variable is-5">
      
        <!-- {{result}} -->
{% for service in result %}
 {% for provider in providers %}
  {%if provider.provider_id == service.provider_id%}
  <div class="column is-3-tablet is-4-desktop">
    <a href="{{ url_for('providerController.providers', provider_id=service.provider_id ,service_id=service.service_id) }}">
        <div class="card">
 
            <div class="card-content">
                <b>Provider name: </b> 
                {{provider.provider_name}}
                <br>
                <b>Provider address: </b>
                {{provider.address}}
                <br>
                <b>Service name: </b>
                {{service.service_name}}
                <br>
                <b>Service description: </b>
                <br>
                {{service.description}}
            
            <hr> 
            <b>Average rating: </b>{{provider.rating_avg}}
            <img src="{{url_for('static', filename='star.png')}}" alt="placeholder" >
           
           <br>
        
            <b>Cost: </b>${{service.cost}}   
           
            </div>
        </div>
    </a>
    </div>
    {%endif%}
    {% endfor %}
{% endfor %}

</div>

{% endblock %}