{% extends "base.html" %}

{% block content %}
<br>
<br>

  <div class="is-size-3"><b>Settings page</b></div>

<form method="POST", action="{{ url_for('setting.settings_save',checkState1=checkState1Str,checkState2=checkState2Str,checkState3=checkState3Str,checkState4=checkState4Str)}}">
  <hr>
  <div class="box shadow" style="display: flext; margin: auto; width:50%">
  Receive Communications
  <label class="switch">
    <input type="checkbox" name="checkState1" value="checkState1" {{checkState1}}>
    <span class="slider slider_round"></span>
  </label>

  <br>
  <br>

  <label class="checkbox">
    <input type="checkbox" name="checkState2" value="checkState2" {{checkState2}}>
    Email
  </label>

  <label class="checkbox">
    <input type="checkbox" name="checkState3" value="checkState3" {{checkState3}}>
    Text	
  </label>
  <br>
 <br>
  Use points for service request
  <label class="switch">
    <input type="checkbox" name="checkState4" value="checkState4" {{checkState4}}>
    <span class="slider slider_round"></span>
  </label>

  <br>
  <br>
  <button class="button is-success is-large is-rounded">Save</button>
  
</div>
</form>
{% endblock %}