{% extends "base.html" %}

{% block content %}

  Settings page

  <br>
  <br>
  <div class="box" style="display: flext; margin: auto; width:50%">
  Recive Communications
  <label class="switch">
    <input type="checkbox" checked>
    <span class="slider round"></span>
  </label>

  <br>
  <br>

  <label class="checkbox">
    <input type="checkbox" checked>
    Email
  </label>

  <label class="checkbox">
    <input type="checkbox" checked>
    Password
  </label>

  <br>
  <br>
  Use points for service request
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>

  <br>
  <br>
  <button class="button">Save</button>
  
</div>

{% endblock %}