{% extends "base.html" %}

{% block content %}
<br>
<br>

  <div class="is-size-3"><b>Settings page</b></div>

  <hr>
  <div class="box shadow" style="display: flext; margin: auto; width:50%">
    <form>
      Receive communications
      <input type="checkbox" id="myCheck" checked/>
     
      <div class="row" id="area" style="display: none;" >
        <label class="checkbox">
          <input type="checkbox" checked>
          Email
        </label>
      
        <label class="checkbox">
          <input type="checkbox" checked>
          Text
        </label>
      
      </div>
      <br>
    <br>
      Use bonus points
      <input type="checkbox"  />
      <br>
      <br>
      <button class="button" type="submit">Save</button>
    </form>

</div>



 


  

  
</div>

{% endblock %}