{% extends "base.html" %}

{% block content %}



<div class="column is-4 is-offset-4">
    <h3 class="is-size-5">Sign Up (Provider)</h3>
    <hr>

    <div class="box">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
    		<div class="notification is-danger">
        		{{ messages[0] }}. Go to <a href="{{ url_for('loginController.login') }}">login page</a>.
    		</div>
	{% endif %}
	{% endwith %}
        <form method="POST" action="/service_provider_signup">
            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="text" name="name" placeholder="Provider Name" autofocus="">
                </div>
            </div>

           <div class="field">
                <div class="control">
                    <input class="input is-medium" type="password" name="password" placeholder="Password">
                </div>
            </div>

	   <div class="field">
		<div class="control">
		<label for="gender">Select your gender:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			<select class =center large name = "gender" id="gender">
   				<option>Male</option>
   				<option>Female</option>
   				<option>Don't want to specify</option>
			</select>
		</div>
	    </div>

            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="number" name="age" placeholder="Age" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="text" name="phoneNum" placeholder="Phone number" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="text" name="address" placeholder="Address" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="text" name="ssn" placeholder="SSN" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info  is-fullwidth">Sign Up</button>
        </form>   
    </div>

    <div style=" display:flex; flex-direction: horizontal; margin-left:auto ">
       
        <a href="{{ url_for('loginController.login') }}">
            <button class="button">Already have an account</button></a>
        
        <br>
        <a href="{{ url_for('registrationController.signup') }}" > <button class="button" style="margin-left: 5px;">Sign up as a customer</button></a>
      </div>
</div>
{% endblock %}


