{% extends "provider_base.html" %}

{% block content %}
<br>
   <div class="is-size-3">
       <b>Service page:</b>
   </div>
<hr>
{%for service in services%}

<div class="column is-3-tablet is-4-desktop" style="margin:auto">
    <a href="{{ url_for('providerController.providers', provider_id=service.provider_id ,service_id=service.service_id) }}">
        <div class="card">
            
            <div class="card-content">
            <b>Name:</b> {{service.service_name}}
            <br>
            <b>Description: </b>{{service.description}}
            
            <hr> 
            <b>Average rating: </b>
            {{service.rating_avg}}
            <img src="{{url_for('static', filename='star.png')}}" alt="placeholder" >
           <br>
        
            <p><b>Cost :</b> ${{service.cost}}</p>   
           
            </div>
        </div>
    </a>
    </div>


{% endfor %}
<br>
<br>
<a href="{{ url_for('serviceController.add_service' )}}">
<button class="button" style="margin:auto">Add services</button>
</a>



{% endblock %}